@charset 'utf-8';

@import "settings";
@import "foundation";
@import "motion-ui";
@import "fonts";
@import "mixins";

@include foundation-global-styles;
@include foundation-grid;
@include foundation-flex-grid;
// @include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

// Custom Fonts
// ----------

@include font-face(
  "RobotoCondensed",
  "RobotoCondensed-Bold",
  "RobotoCondensed",
  "sans"
);
@include font-face(
  "PlayfairDisplay",
  "PlayfairDisplay-Regular",
  "PlayfairDisplay",
  "serif"
);

// Custom colour variables
// ----------

$white: #fff;
$light: #efefef;
$dark-green: #144e2f;
$light-green: #527b6d;

// Viewport percentages
// ----------

$fullWidth: 100vw;
$fullHeight: 80vh;

$lrg: 60%;
$med: 75%;
$sml: 90%;

body {
  background-color: $light;
}

.bg-white {
  background-color: $white;
}

.title-bar {
  background-color: transparent;
}

// Fonts
// ----------

h1,
.h1,
h2,
.h2,
h3,
.h3,
p {
  font-family: "PlayfairDisplay", "serif";
}

.hero .h1 {
  font-size: 12rem;
  margin-top: -4rem;
}

.hero .h2 {
  font-size: 11rem;
  line-height: 6rem;
}

.hero .h3 {
  font-size: 2rem;
  line-height: 3rem;
}

.hero .h4 {
  font-size: 2rem;
  text-transform: uppercase;
}

.arrow {
  margin: 0rem 0.5rem;
}

.menu {
  text-transform: uppercase;
  a {
    padding: 0.7rem 0.8rem;
    color: $dark-green;
  }
  .social {
    padding-right: 0px;
  }
}

.menu-icon {
  @include hamburger($dark-green);
}

// Custom background colour
// ----------

.bg-dark-green {
  background-color: $dark-green;
}
.bg-light-green {
  background-color: $light-green;
}

// Manual width adjustments for the cell-centered class
// ----------
.hero .row {
  @include row-padding(4rem, 0rem);
}

.dynamic,
.author,
.app {
  @include row-padding(5rem, 0rem);
}
.review {
  @include row-padding(0rem, 0rem 4rem);
}

.book {
  z-index: 999;
}

.overlap-left {
  margin-left: -5rem;
}
.overlap-right {
  margin-right: -3rem;
}

.float-right {
  right: 0;
  padding: 0;
  height: inherit;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 40rem;
  filter: drop-shadow(2rem 3rem 4rem rgba(0, 0, 0, 0.25));
}

.float-left {
  padding: -3em;
}

.column-center {
  @include absolute-center;
}

.shadow {
  filter: drop-shadow(0rem 0rem 2rem rgba(0, 0, 0, 0.15));
}
.shadow-clip {
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 0 100%);
  width: 100%;
  height: 100%;
}

// Custom classes for the submit button
// ----------

.round {
  @include circle(40px);
  border-color: $black;
  cursor: pointer;
}
.hollow {
  @include hollow($dark-green, 2px);
}

.play {
  @include css-triangle(0.75rem, $dark-green, right);
}

// Custom form fields
// ----------

.underline {
  @include underline(2px, $black, solid);
  &::placeholder {
    color: $black;
  }
}

.newsletter {
  @include row-padding(1.5rem, 0rem);

  h3 {
    margin-bottom: 0px;
  }
  .underline {
    margin-bottom: 0px;
  }
}

.paralax {
  height: $fullWidth;
  background-color: $light;
  background-size: contain;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

// Footer
// ----------

footer span {
  font-size: 60%;
}

.footer {
  border: none;
  border-top: solid #ccc 1px;
  @include row-padding(5rem, 0);
}

@media screen and (orientation: landscape) {
  .show-for-landscape,
  .hide-for-portrait {
    display: flex !important;
  }
}

@media screen and (min-width: 65em) {
  .row.author,
  .row.app {
    max-width: 100%;
  }
}
